<div class="container">
    <h1>Position Form</h1>
    <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="positionTitle">Position Title</label>
                    <input type="text" class="form-control" id="positionTitle" formControlName="positionTitle">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="salaryRange">Salary Range</label>
                    <input type="number" class="form-control" id="salaryRange" formControlName="salaryRange">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>



<!-- <h1>Position Form</h1>
<form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <mat-grid-list cols="1" rowHeight="16:1">

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Position Title</mat-label>
                    <input matInput formControlName="positionTitle" />
                </mat-form-field>
            </div>
        </mat-grid-tile>     

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Salary Range</mat-label>
                    <input matInput formControlName="salaryRange" />
                </mat-form-field>
            </div>
        </mat-grid-tile> 

    </mat-grid-list>

    <button mat-raised-button color="primary" type="submit">Submit</button>
</form> -->
