<!-- contact-form.component.html -->

<!-- <form (ngSubmit)="onSubmit()">
    <label for="name">Your Name:</label>
    <input type="text" id="name" name="name" [(ngModel)]="model.name" required>

    <label for="email">Your Email:</label>
    <input type="email" id="email" name="email" [(ngModel)]="model.email" required>

    <label for="message">Your Message:</label>
    <textarea id="message" name="message" [(ngModel)]="model.message" rows="5" required></textarea>

    <button type="submit">Submit</button>
  </form> -->

  <form (ngSubmit)="onSubmit()">
    <label for="name">Your Name:</label>
    <input type="text" id="name" name="name" [(ngModel)]="model.name" required>

    <label for="email">Your Email:</label>
    <input type="email" id="email" name="email" [(ngModel)]="model.email" required>

    <label for="phoneNumber">Phone Number:</label>
    <input type="tel" id="phoneNumber" name="phoneNumber" [(ngModel)]="model.phoneNumber" required>

    <label for="companyName">Company Name:</label>
    <input type="text" id="companyName" name="companyName" [(ngModel)]="model.companyName" required>

    <label for="message">Your Message:</label>
    <textarea id="message" name="message" [(ngModel)]="model.message" rows="5" required></textarea>

    <button type="submit">Submit</button>
</form>

