

<!-- <div style="background-color: rgb(134, 80, 8); padding: 7px;">
    <div style="display: flex; justify-content: space-between; max-width: 1200px; align-items: center; margin: 0 auto;">
        <h2 style="color: aquamarine;">Web Page</h2>
           <nav>
            <ul style="display: flex; gap: 25px;">
                <a routerLink="employee-form">employee-form</a>
                <a routerLink="employee-list">employee-list</a>
                <a routerLink="benefits-form">benefits-form</a>
                <a routerLink="benefits-list">benefits-list</a>
                <a routerLink="department-form">department-form</a>
                <a routerLink="department-list">department-list</a>  
            </ul>
           </nav>
    </div>
</div> -->


<div class="navbar">
    <div class="navbar-content">
        <h2>Payroll Application</h2>
        <nav>
            <ul>
                <li><a routerLink="employee-form">employee-form</a></li>
                <li><a routerLink="employee-list">employee-list</a></li>
                <li><a routerLink="benefits-form">benefits-form</a></li>
                <li><a routerLink="benefits-list">benefits-list</a></li>
                <li><a routerLink="department-form">department-form</a></li>
                <li><a routerLink="department-list">department-list</a></li>
            </ul>
        </nav>
    </div>
</div>


<router-outlet></router-outlet>




