<!-- <div style="background-color: rgb(134, 80, 8); padding: 7px;">
    <div style="display: flex; justify-content: space-between; max-width: 1200px; align-items: center; margin: 0 auto;">
        <h2 style="color: aquamarine;">Payroll Application</h2>
           <nav>
            <ul style="display: flex; gap: 25px;">
                <a routerLink="benefits-form">benefits-form</a>
                <a routerLink="benefits-list">benefits-list</a>
                <a routerLink="department-form">department-form</a>
                <a routerLink="department-list">department-list</a>
                <a routerLink="employee-form">employee-form</a>
                <a routerLink="employee-list">employee-list</a>
               
            </ul>
           </nav>
    </div>
</div> -->



<!-- <div class="navbar">
    <div class="navbar-container">
        <h2 class="title">Payroll Application</h2>
        <nav>
            <ul class="nav-links"> -->

                <!-- <a routerLink="attendance-form">Attendance Form</a>
                <a routerLink="attendance-list">Attendance List</a>
                <a routerLink="benefits-form">Benefits Form</a>
                <a routerLink="benefits-list">Benefits List</a>
                <a routerLink="department-form">Department Form</a>
                <a routerLink="department-list">Department List</a> -->
                <!-- <a routerLink="leave-form">Leave Form</a>
                <a routerLink="leave-list">Leave List</a> -->
                <!-- <a routerLink="employee-form">Employee Form</a>
                <a routerLink="employee-list">Employee List</a> -->

                <!-- <a routerLink="payment-history-form">paymentHistory Form</a>
                <a routerLink="payment-history-list">paymentHistory List</a>
                <a routerLink="payroll-transaction-form">Payroll Transaction Form</a>
                <a routerLink="payroll-transaction-list">Payroll Transaction List</a>
                <a routerLink="position-form">Position Form</a>
                <a routerLink="position-list">Position List</a>
                <a routerLink="salary-form">Salary Form</a>
                <a routerLink="salary-list">Salary List</a>
                <a routerLink="tax-with-holding-form">Tax with Holding Form</a>
                <a routerLink="tax-with-holding-list">Tax with Holding List</a> -->




                <!-- <a routerLink="contact">Contact</a>
                <a routerLink="pagenotfound">pagenotfound</a> -->
                
            <!-- </ul>
        </nav>
    </div>
</div> -->


<router-outlet></router-outlet>








