<!-- <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3 class="text-center">Login To Payroll Management System</h3>
          </div>
          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="form-group">
                <label for="username">User ID/Email:</label>
                <input formControlName="username" class="form-control" id="username" placeholder="Enter your User ID or Email" required>
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input formControlName="password" type="password" class="form-control" id="password" placeholder="Enter your password" required>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-lg">
          <div class="card-header bg-primary text-white text-center">
            <h3>Login To Payroll Application</h3>
          </div>
          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="mb-3">
                <label for="username" class="form-label">User ID/Email</label>
                <input formControlName="username" class="form-control" id="username" placeholder="Enter your User ID or Email" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input formControlName="password" type="password" class="form-control" id="password" placeholder="Enter your password" required>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
