<div style="display: flex; justify-content: space-between;">
    <h2>Tax with Holding List</h2>
    <button></button>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="employee">
        <th mat-header-cell *matHeaderCellDef> Employeee </th>
        <td mat-cell *matCellDef="let element"> {{ element.employee.firstName }} </td>
    </ng-container>

    <ng-container matColumnDef="taxType">
        <th mat-header-cell *matHeaderCellDef> taxType </th>
        <td mat-cell *matCellDef="let element"> {{ element.taxType }} </td>
    </ng-container>

    <ng-container matColumnDef="taxAmount">
        <th mat-header-cell *matHeaderCellDef> taxAmount </th>
        <td mat-cell *matCellDef="let element"> {{ element.taxAmount }} </td>
    </ng-container>



    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let i = index;">
            <button mat-icon-button color="warn" (click)="delete(i)">
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="edit(i)">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


