<div class="container">
    <h1>TimeOff Form</h1>
    <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="employee">Employee</label>
                    <input type="text" class="form-control" id="employee" formControlName="employee">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="timeOffType">TimeOff Type</label>
                    <input type="text" class="form-control" id="timeOffType" formControlName="timeOffType">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="startDate">Start Date</label>
                    <input type="text" class="form-control" id="startDate" formControlName="startDate">
                    <!-- Datepicker functionality needs additional customization -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="endDate">End Date</label>
                    <input type="text" class="form-control" id="endDate" formControlName="endDate">
                    <!-- Datepicker functionality needs additional customization -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="approvalStatus">Approval Status</label>
                    <input type="text" class="form-control" id="approvalStatus" formControlName="approvalStatus">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>



<!-- <h1>TimeOff Form</h1>
<form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <mat-grid-list cols="1" rowHeight="16:1">

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Employee</mat-label>
                    <input matInput formControlName="employee" />
                </mat-form-field>
            </div>
        </mat-grid-tile>     

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>TimeOff Type</mat-label>
                    <input matInput formControlName="taxType" />
                </mat-form-field>
            </div>
        </mat-grid-tile> 

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Start Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="startDate">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>End Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="endDate">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Approval Status</mat-label>
                    <input matInput formControlName="approvalStatus" />
                </mat-form-field>
            </div>
        </mat-grid-tile> 

    </mat-grid-list>

    <button mat-raised-button color="primary" type="submit">Submit</button>
</form> -->


<!-- <mat-hint>MM/DD/YYYY</mat-hint> -->



