.container {
    margin-top: 50px;
  }
  
  h1 {
    // text-align: center;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  
    label {
      font-weight: bold;
      margin-bottom: 5px;
      display: block;
    }
  
    input {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }