<mat-sidenav-container class="sidenav-container" *ngIf="config.shouldRun" [hasBackdrop]="config.hasBackdrop">
    <mat-sidenav #sidenav [mode]="config.mode" [position]="config.position" [opened]="config.isOpened">
        <div class="profile-content">
            <!-- App logo, name -->
        </div>
        <!-- <mat-divider></mat-divider> -->
        <div class="container menu-container">
            <!-- 
            <div class="menu-item">Menu 1
                <div class="submenu">
                    <div class="submenu-item" [routerLink]="'branch-form'">Submenu 1.1</div>
                    <div class="submenu-item">Submenu 1.2</div>
                </div>
            </div>
            <div class="menu-item">Menu 2
                <div class="submenu">
                    <div class="submenu-item">Submenu 2.1                        
                    </div>
                    <div class="submenu-item">Submenu 2.2</div>
                </div>
            </div>

            <div class="menu-item">
                <span class="menu-title">Menu 3</span>
                <div class="submenu">
                    <div class="submenu">
                        <div class="submenu-item">Submenu 3.1</div>
                        <div class="submenu-item">Submenu 3.2</div>
                    </div>
                </div>
            </div> -->
            <!-- ... (previous code) ... -->

            <!-- <div class="menu-item">
                <span class="menu-title">Menu 4</span>
                <div class="submenu">
                    <div class="submenu-item">
                        <div class="menu-item">
                            <span class="menu-title">Menu 3</span>
                            <div class="submenu">
                                <div class="submenu">
                                    <div class="submenu-item">Submenu 3.1</div>
                                    <div class="submenu-item">Submenu 3.2</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submenu-item">Submenu 4.2</div>
                </div>
            </div> -->
            <div class="sidenav">
                <div class="menu-item">Authority
                    <div class="submenu">
                        <div class="submenu-item">Permission
                            <div class="subsubmenu">
                                <div class="subsubmenu-item" [routerLink]="'permission-form'">Permission Form</div>
                                <div class="subsubmenu-item" [routerLink]="'permission-list'">Permission List</div>
                            </div>
                        </div>
                        <div class="submenu-item">User
                            <div class="subsubmenu">
                                <div class="subsubmenu-item" [routerLink]="'user-form'">User Form</div>
                                <div class="subsubmenu-item" [routerLink]="'user-list'">User List</div>
                            </div>
                        </div>
                        <div class="submenu-item">Role
                            <div class="subsubmenu">
                                <div class="subsubmenu-item" [routerLink]="'role-form'">Role-Form</div>
                                <div class="subsubmenu-item" [routerLink]="'role-list'">Role-List</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="menu-item">Project Configuration
                    <div class="submenu">
                        <div class="submenu-item">Attendance
                            <div class="subsubmenu">
                                <div class="subsubmenu-item" [routerLink]="'attendance-form'">Attendance Form</div>
                                <div class="subsubmenu-item" [routerLink]="'attendance-list'">Attendance List</div>
                            </div>
                        </div>

                        <div class="submenu-item">Benefits
                            <div class="subsubmenu">
                                <div class="subsubmenu-item" [routerLink]="'benefits-form'">Benefits Form</div>
                                <div class="subsubmenu-item" [routerLink]="'benefits-list'">Benefits List</div>
                            </div>
                        </div>

                        <div class="submenu-item">Department
                            <div class="subsubmenu">
                                <div class="subsubmenu-item" [routerLink]="'department-form'">Department Form</div>
                                <div class="subsubmenu-item" [routerLink]="'department-list'">Department List</div>
                            </div>
                        </div>

                        <div class="submenu-item">Employee
                            <div class="subsubmenu">
                                <div class="subsubmenu-item" [routerLink]="'employee-form'">Employee Form</div>
                                <div class="subsubmenu-item" [routerLink]="'employee-list'">Employee List</div>
                            </div>
                        </div>

                        <div class="submenu-item">Leave
                            <div class="subsubmenu">
                                <div class="subsubmenu-item" [routerLink]="'leave-form'">Leave Form</div>
                                <div class="subsubmenu-item" [routerLink]="'leave-list'">Leave List</div>
                            </div>
                        </div>

                        <div class="submenu-item">PaymentHistory
                            <div class="subsubmenu">
                                <div class="subsubmenu-item" [routerLink]="'payment-history-form'">PaymentHistory Form</div>
                                <div class="subsubmenu-item" [routerLink]="'payment-history-list'">PaymentHistory List</div>
                            </div>
                        </div>

                        <div class="submenu-item">PayrollTransaction
                            <div class="subsubmenu">
                                <div class="subsubmenu-item" [routerLink]="'payroll-transaction-form'">PayrollTransaction Form</div>
                                <div class="subsubmenu-item" [routerLink]="'payroll-transaction-list'">PayrollTransaction List</div>
                            </div>
                        </div>

                        <div class="submenu-item">Position
                            <div class="subsubmenu">
                                <div class="subsubmenu-item" [routerLink]="'position-form'">position Form</div>
                                <div class="subsubmenu-item" [routerLink]="'position-list'">position List</div>
                            </div>
                        </div>


                        <div class="submenu-item">Salary
                            <div class="subsubmenu">
                                <div class="subsubmenu-item" [routerLink]="'salary-form'">Salary Form</div>
                                <div class="subsubmenu-item" [routerLink]="'salary-list'">Salary List</div>
                            </div>
                        </div>


                        <div class="submenu-item">TaxWithholding
                            <div class="subsubmenu">
                                <div class="subsubmenu-item" [routerLink]="'tax-with-holding-form'">TaxWithholding Form</div>
                                <div class="subsubmenu-item" [routerLink]="'tax-with-holding-list'">TaxWithholding List</div>
                            </div>
                        </div>


                        <div class="submenu-item">TimeOff
                            <div class="subsubmenu">
                                <div class="subsubmenu-item" [routerLink]="'time-off-form'">TimeOff Form</div>
                                <div class="subsubmenu-item" [routerLink]="'time-off-list'">TimeOff List</div>
                            </div>
                        </div>

                        <div class="submenu-item">Location
                            <div class="subsubmenu">
                                <div class="subsubmenu-item">location-form</div>
                                <div class="subsubmenu-item">location-list</div>
                            </div>
                        </div>
                        <div class="submenu-item">Submenu 2.1
                            <div class="subsubmenu">
                                <div class="subsubmenu-item">Subsubmenu 2.1.1</div>
                                <div class="subsubmenu-item">Subsubmenu 2.1.2</div>
                            </div>
                        </div>
                        <div class="submenu-item">Submenu 2.2
                            <div class="subsubmenu">
                                <div class="subsubmenu-item">Subsubmenu 2.2.1</div>
                                <div class="subsubmenu-item">Subsubmenu 2.2.2</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="menu-item">Project Data
                    <div class="submenu">
                        
                        <div class="submenu-item">Submenu 3.2
                            <div class="subsubmenu">
                                <div class="subsubmenu-item">Subsubmenu 3.2.1</div>
                                <div class="subsubmenu-item">Subsubmenu 3.2.2</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ... (remaining code) ... -->
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="page-body">
            <div style="position: sticky; top: 0;">
                <mat-toolbar>
                    <button mat-icon-button (click)="sidenav.toggle()" class="example-icon"
                        aria-label="Example icon-button with menu icon">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <span>Payroll Management System</span>
                    <span class="header-content-spacer"></span>
                    <button mat-icon-button>
                        <mat-icon>favorite</mat-icon>
                    </button>
                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                        <mat-icon>share</mat-icon>
                    </button>
                </mat-toolbar>
            </div>
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>


