<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h2>Bootstrap Form</h2>
    <form (ngSubmit)="submitForm()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
        </div>

        <div class="form-group">
            <label for="permissions">Permissions</label>
            <input type="text" class="form-control" id="permissions" name="permissions" placeholder="Enter permissions">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>



  













<!-- <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Permissions" formControlName="permissions">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Submit</button>
</form> -->