



<div style="display: flex; justify-content: space-between;">
    <h2>Benefits List</h2>
    <button></button>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="employee">
        <th mat-header-cell *matHeaderCellDef> Employee </th>
        <td mat-cell *matCellDef="let element"> {{ element.employee.firstName }} </td>
    </ng-container>

    <ng-container matColumnDef="benefitEnrollmentDate">
        <th mat-header-cell *matHeaderCellDef> Benefit Enrollment Date </th>
        <td mat-cell *matCellDef="let element"> {{ element.benefitEnrollmentDate }} </td>
    </ng-container>

    <ng-container matColumnDef="benefitendDate">
        <th mat-header-cell *matHeaderCellDef> Benefit End Date </th>
        <td mat-cell *matCellDef="let element"> {{ element.benefitendDate }} </td>
    </ng-container>

    <ng-container matColumnDef="benefitType">
        <th mat-header-cell *matHeaderCellDef> Benefit Type </th>
        <td mat-cell *matCellDef="let element"> {{ element.benefitType }} </td>
    </ng-container>
    
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
    </ng-container>

    <ng-container matColumnDef="taxable">
        <th mat-header-cell *matHeaderCellDef> Taxable </th>
        <td mat-cell *matCellDef="let element"> {{ element.taxable }} </td>
    </ng-container>

    <ng-container matColumnDef="frequency">
        <th mat-header-cell *matHeaderCellDef> Frequency </th>
        <td mat-cell *matCellDef="let element"> {{ element.frequency }} </td>
    </ng-container>

    <ng-container matColumnDef="benefitCost">
        <th mat-header-cell *matHeaderCellDef> Benefit Cost </th>
        <td mat-cell *matCellDef="let element"> {{ element.benefitCost }} </td>
    </ng-container>


    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let i = index;">
            <button mat-icon-button color="warn" (click)="delete(i)">
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="edit(i)">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>