<div class="container">
    <h1>Payroll Transaction Form</h1>
    <form [formGroup]="formGroup" (ngSubmit)="submitForm()">

        <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="employee">Employee</label>
                <!-- <input type="text" class="form-control" id="employee" formControlName="employee"> -->
                <select formControlName="employee">
                  <option *ngFor="let employee of employees" [value]="employee.id">{{employee.firstName}}</option>
                </select>
              </div>
            </div>
          </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="payrollPeriod">Payroll Period</label>
                    <input type="text" class="form-control" id="payrollPeriod" formControlName="payrollPeriod">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="salary">Salary</label>
                    <!-- <input type="text" class="form-control" id="salary" formControlName="salary"> -->
                    <select formControlName="salary">
                        <option *ngFor="let salary of salaries" [value]="salary.id">{{salary.salaryAmount}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="hoursWorked">Hours Worked</label>
                    <input type="number" class="form-control" id="hoursWorked" formControlName="hoursWorked">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="overtimeHours">Overtime Hours</label>
                    <input type="number" class="form-control" id="overtimeHours" formControlName="overtimeHours">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="grossEarnings">Gross Earnings</label>
                    <input type="number" class="form-control" id="grossEarnings" formControlName="grossEarnings">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="deductions">Deductions</label>
                    <input type="number" class="form-control" id="deductions" formControlName="deductions">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="netPay">NetPay</label>
                    <input type="number" class="form-control" id="netPay" formControlName="netPay">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>



<!-- <h1>Payroll Transaction Form</h1>
<form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <mat-grid-list cols="1" rowHeight="16:1">

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Employee</mat-label>
                    <input matInput formControlName="employee" />
                </mat-form-field>
            </div>
        </mat-grid-tile>      
         
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Payroll Period</mat-label>
                    <input matInput formControlName="payrollPeriod" />
                </mat-form-field>
            </div>
        </mat-grid-tile>   

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Salary</mat-label>
                    <input matInput formControlName="salary" />
                </mat-form-field>
            </div>
        </mat-grid-tile>   

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Hours Worked</mat-label>
                    <input matInput formControlName="hoursWorked" />
                </mat-form-field>
            </div>
        </mat-grid-tile>   

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Overtime Hours</mat-label>
                    <input matInput formControlName="overtimeHours" />
                </mat-form-field>
            </div>
        </mat-grid-tile>  

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Gross Earnings</mat-label>
                    <input matInput formControlName="grossEarnings" />
                </mat-form-field>
            </div>
        </mat-grid-tile>  

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Deductions</mat-label>
                    <input matInput formControlName="deductions" />
                </mat-form-field>
            </div>
        </mat-grid-tile>  

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>NetPay</mat-label>
                    <input matInput formControlName="netPay" />
                </mat-form-field>
            </div>
        </mat-grid-tile>     



    </mat-grid-list>

    <button mat-raised-button color="primary" type="submit">Submit</button>
</form> -->