<h1>Payroll Transaction Form</h1>
<form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <mat-grid-list cols="1" rowHeight="16:1">

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Employee</mat-label>
                    <input matInput formControlName="employee" />
                </mat-form-field>
            </div>
        </mat-grid-tile>      
         
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Payroll Period</mat-label>
                    <input matInput formControlName="payrollPeriod" />
                </mat-form-field>
            </div>
        </mat-grid-tile>   

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Salary</mat-label>
                    <input matInput formControlName="salary" />
                </mat-form-field>
            </div>
        </mat-grid-tile>   

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Hours Worked</mat-label>
                    <input matInput formControlName="hoursWorked" />
                </mat-form-field>
            </div>
        </mat-grid-tile>   

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Overtime Hours</mat-label>
                    <input matInput formControlName="overtimeHours" />
                </mat-form-field>
            </div>
        </mat-grid-tile>  

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Gross Earnings</mat-label>
                    <input matInput formControlName="grossEarnings" />
                </mat-form-field>
            </div>
        </mat-grid-tile>  

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Deductions</mat-label>
                    <input matInput formControlName="deductions" />
                </mat-form-field>
            </div>
        </mat-grid-tile>  

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>NetPay</mat-label>
                    <input matInput formControlName="netPay" />
                </mat-form-field>
            </div>
        </mat-grid-tile>     



    </mat-grid-list>

    <button mat-raised-button color="primary" type="submit">Submit</button>
</form>